<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css" rel="stylesheet" />
<div class="timeline " style="--items: 7;">

  <ul>
    <li style="--index: 1">
      <h3>2015</h3>
      <p>CHIWEN B.V. established</p>
    </li>
    <li style="--index: 2">
      <h3>2016</h3>
      <p>Established long-term research partnership with University of Groningen</p>
    </li>
    <li style="--index: 3">
      <h3>2017</h3>
      <p>Research on machine learning, deep learning, distributed training, brain-inspired pattern recognition
        algorithms, Neo4J and Blockchain, and distributed computing</p>
    </li>
    <li style="--index: 4">
      <h3>2018 Jan-Mar</h3>
      <p>Started TuDoLink project Team building Project Feasibility Analysis</p>
    </li>

  </ul>
</div>
