<div class="container">
  <div class="cards-grid">
    <div class="card blue">
      <div class="card-header img ">
        <img src="./assets/analytics.png" alt="後端技術" class="card-icon">
        <h2 class="card-title">後端技術開發</h2>
      </div>
      <div class="card-content">
        <p class="card-description">後端開發是網頁和應用程式的核心，負責處理伺服器端的邏輯、數據庫互動及API的設計與實現。</p>
        <div class="btn">聯繫我們 <span></span><span></span><span></span><span></span></div>
      </div>
    </div>
    <div class="card green">
      <div class="card-header img ">
        <img src="./assets/alert.png" alt="前端技術" class="card-icon">
        <h2 class="card-title">前端技術開發</h2>
      </div>
      <div class="card-content">
        <p class="card-description">前端開發專注於用戶界面和體驗，使用HTML、CSS和JavaScript創建互動性強、視覺吸引人的網頁。</p>
        <div class="btn">聯繫我們 <span></span><span></span><span></span><span></span></div>
      </div>
    </div>
    <div class="card purple">
      <div class="card-header img ">
        <img src="./assets/design-software.png" alt="網頁技術" class="card-icon">
        <h2 class="card-title">網頁技術開發</h2>
      </div>
      <div class="card-content">
        <p class="card-description">網頁技術開發包括前後端結合，構建完整的網站和Web應用，涵蓋從設計到部署的全過程。</p>
        <div class="btn">聯繫我們 <span></span><span></span><span></span><span></span></div>
      </div>
    </div>
    <div class="card orange">
      <div class="card-header img ">
        <img src="./assets/responsive.png" alt="資料庫技術" class="card-icon">
        <h2 class="card-title">資料庫開發</h2>
      </div>
      <div class="card-content">
        <p class="card-description">資料庫開發專注於設計、實施及管理數據庫系統，確保數據的結構化存儲、快速檢索及安全性。</p>
        <div class="btn">聯繫我們 <span></span><span></span><span></span><span></span></div>
      </div>
    </div>
  </div>
</div>