<div class='container'>

  <div class="box flex flex-col justify-around p-7 my-2">
    <div class="title text-center text-3xl font-bold">後端技術</div>
    <div class="level flex justify-center text-xl">
      <i class="fa-solid fa-bug"></i>
      <i class="fa-solid fa-bug"></i>
      <i class="fa-solid fa-bug"></i>
      <i class="fa-solid fa-bug"></i>
      <i class="fa-solid fa-bug"></i>
    </div>
    <div class="skillpic w-full" style="text-align: -webkit-center;">
      <img src="./assets/backend.png" alt="">
    </div>
    <div class="content text-center text-base">
      容器化與虛擬化技術-Docker
    </div>
    <div class="point text-center text-base">
      >維護簡單
    </div>
  </div>
  <div class='back'>Back</div>
</div>
