/* styles.css */
.timeline {
 --background-color: rgb(235, 156, 156);
  --line-color: #c0e79d;
  --dot-color: blue;
  width: 100%;
  padding: 50px 0;
  position: relative;
}

.timeline ul {
  width: 80%;
  margin: 0 auto !important;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.timeline ul::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background: rgb(235, 156, 156);
  transform: translateY(-50%);
  z-index: 1;
}

.timeline ul li {
  position: relative;
  width: 24%; /* 4个项目，均分100% */
  text-align: center;
}

.timeline ul li .content {
  padding: 10px 20px;
}

.timeline ul li .line-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100px; /* 调整这个高度 */
}

.timeline ul li .dot {
  width: 12px;
  height: 12px;
  background: var(--dot-color);
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

.timeline ul li .line {
  position: absolute;
  bottom: 0;
  width: 2px;
  height: 0;
  background: var(--line-color);
  animation: stretch-up 2s infinite ;
  z-index: 1;
}

@keyframes stretch-up {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
