<div class="timeline">
  <ul>
    <li>
      <div class="content">
        <h3>2016</h3>
        <p>財團法人資訊工業策進會</p>
      </div>
      <div class="line-container">
        <div class="dot"></div>
        <div class="line"></div>
      </div>
    </li>
    <li>
      <div class="content">
        <h3>2017</h3>
        <p>盈世智慧科技股份有限公司</p>
        <p>issue追蹤系統<br>力偕奈米科技ERP系統<br>力偕奈米科技KAS<br>SCADA資安防護系統</p>
      </div>
      <div class="line-container">
        <div class="dot"></div>
        <div class="line"></div>
      </div>
    </li>
    <li>
      <div class="content">
        <h3>2018 Jan-Mar</h3>
        <p>Started TuDoLink project Team building Project Feasibility Analysis</p>
      </div>
      <div class="line-container">
        <div class="dot"></div>
        <div class="line"></div>
      </div>
    </li>
    <li>
      <div class="content">
        <h3>2019</h3>
        <p>大云永续科技股份有限公司</p>
        <p>Email Analysis System<br>電商平台<br>靈骨塔營銷管理系統<br>廢棄物清除管理APP<br>ESG 智慧永續愛台網<br>CRM系統</p>
      </div>
      <div class="line-container">
        <div class="dot"></div>
        <div class="line"></div>
      </div>
    </li>
  </ul>
</div>
