<div class="cards w-4/5 m-auto flex justify-center  ">
  <div class="card   w-1/4 rounded-lg text-center mr-3 border-yellow-500 border-solid border-2 p-5"
    style="text-align: -webkit-center;">
    <div class="w-2/4">
      <img src="assets/analytics.png" class="icon w-full " />
    </div>
    <div class="content ">
      <div class="title mb-3 font-bold  text-lg">後端技術開發</div>
      <div class="description">
        後端開發是網頁和應用程式的核心，負責處理伺服器端的邏輯、數據庫互動及API的設計與實現。
      </div>
    </div>
    <button class="btn">
      聯繫我們
      <span></span><span></span><span></span><span></span>
    </button>
  </div>
  <div class="card  w-1/4 rounded-lg text-center mr-3 border-yellow-500 border-solid border-2 p-5"
    style="text-align: -webkit-center;">
    <div class="w-2/4">
      <img src="assets/alert.png" class="icon w-full " />
    </div>
    <div class="content ">
      <div class="title mb-3  font-bold text-lg">前端技術開發</div>
      <div class="description ">
        後端開發是網頁和應用程式的核心，負責處理伺服器端的邏輯、數據庫互動及API的設計與實現。
      </div>
    </div>
    <button class="btn">
      聯繫我們
      <span></span><span></span><span></span><span></span>
    </button>
  </div>
  <div class="card  w-1/4 rounded-lg text-center mr-3 border-yellow-500 border-solid border-2 p-5"
    style="text-align: -webkit-center;">
    <div class="w-2/4">
      <img src="assets/design-software.png" class="icon w-full " />
    </div>
    <div class="content ">
      <div class="title mb-3 font-bold text-lg">網頁技術開發</div>
      <div class="description ">
        後端開發是網頁和應用程式的核心，負責處理伺服器端的邏輯、數據庫互動及API的設計與實現。
      </div>
    </div>
    <button class="btn">
      聯繫我們
      <span></span><span></span><span></span><span></span>
    </button>
  </div>
  <div class="card  w-1/4 rounded-lg text-center  border-yellow-500 border-solid border-2 p-5"
    style="text-align: -webkit-center;">
    <div class="w-2/4">
      <img src="assets/responsive.png" class="icon w-full " />
    </div>
    <div class="content ">
      <div class="title mb-3 font-bold text-lg">資料庫開發</div>
      <div class="description ">
        資料庫開發專注於設計、實施及管理數據庫系統，確保數據的結構化存儲、快速檢索及安全性。
      </div>
    </div>
    <button class="btn">
      聯繫我們
      <span></span><span></span><span></span><span></span>
    </button>
  </div>



</div>
