/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;700;900&display=swap');

body{
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
