<div class="card-container ">
  <div class="row justify-content-center">
    <div class='col-12 col-sm-2 col-md-2 item  my-2 align-items-center '>
      <div class='font   '>
        <div class="title text-center text-3xl font-bold mt-3">後端技術</div>
        <div class="level flex justify-center text-xl  mt-3">
          <i class="fa-solid fa-bug"></i>
          <i class="fa-solid fa-bug"></i>
          <i class="fa-solid fa-bug"></i>
          <i class="fa-solid fa-bug"></i>
          <i class="fa-solid fa-bug"></i>
        </div>
        <div class="skillpic w-full" style="text-align: -webkit-center;">
          <img src="./assets/backend.png" alt="">
        </div>
        <div class="content text-center text-base  mt-3">
          容器化與虛擬化技術-Docker
        </div>
        <div class="point text-center text-base  mt-3">
          >維護簡單
        </div>
      </div>
      <div class='back '>
        <div class="title ">後端技術</div>
        <div class="level ">
          <i class="fa-solid fa-bug"></i>
          <i class="fa-solid fa-bug"></i>
          <i class="fa-solid fa-bug"></i>
          <i class="fa-solid fa-bug"></i>
          <i class="fa-solid fa-bug"></i>
        </div>
        <div class="skillpic w-full" style="text-align: -webkit-center;">
          <img src="./assets/backend.png" alt="">
        </div>
        <div class="content ">
          容器化與虛擬化技術-Docker
        </div>
        <div class="point text-center text-base  mt-3">
          >維護簡單
        </div>
      </div>
    </div>

    <div class='col-12 col-sm-2 col-md-2 item my-2 align-items-center '>
      <div class='font  '>
        <div class="title ">前端技術</div>
        <div class="level ">
          <i class="fa-solid fa-bug"></i>
          <i class="fa-solid fa-bug"></i>
          <i class="fa-solid fa-bug"></i>
          <i class="fa-solid fa-bug"></i>
          <i class="fa-solid fa-bug"></i>
        </div>
        <div class="skillpic w-full" style="text-align: -webkit-center;">
          <img src="./assets/ux.png" alt="">
        </div>
        <div class="content text-center text-base  mt-3">
          容器化與虛擬化技術-Docker
        </div>
        <div class="point text-center text-base  mt-3">
          >維護簡單
        </div>
      </div>
      <div class='back  '>
        <div class="title ">前端技術</div>
        <div class="level ">
          <i class="fa-solid fa-bug"></i>
          <i class="fa-solid fa-bug"></i>
          <i class="fa-solid fa-bug"></i>
          <i class="fa-solid fa-bug"></i>
          <i class="fa-solid fa-bug"></i>
        </div>
        <div class="skillpic w-full" style="text-align: -webkit-center;">
          <img src="./assets/ux.png" alt="">
        </div>
        <div class="content text-center text-base  mt-3">
          容器化與虛擬化技術-Docker
        </div>
        <div class="point text-center text-base  mt-3">
          >維護簡單
        </div>
      </div>
    </div>





  </div>
  <div class="row justify-content-center">
    <div class='col-12 col-sm-2 col-md-2 item  my-2 align-items-end '>
      <div class='font'>
        <div class="title">網頁技術</div>
        <div class="level ">
          <i class="fa-solid fa-bug"></i>
          <i class="fa-solid fa-bug"></i>
          <i class="fa-solid fa-bug"></i>
          <i class="fa-solid fa-bug"></i>
          <i class="fa-solid fa-bug"></i>
        </div>
        <div class="skillpic w-full" style="text-align: -webkit-center;">
          <img src="./assets/web.png" alt="">
        </div>
        <div class="content text-center text-base  mt-3">
          容器化與虛擬化技術-Docker
        </div>
        <div class="point text-center text-base  mt-3">
          >維護簡單
        </div>
      </div>
      <div class='back '>
        <div class="title ">網頁技術</div>
        <div class="level ">
          <i class="fa-solid fa-bug"></i>
          <i class="fa-solid fa-bug"></i>
          <i class="fa-solid fa-bug"></i>
          <i class="fa-solid fa-bug"></i>
          <i class="fa-solid fa-bug"></i>
        </div>
        <div class="skillpic w-full" style="text-align: -webkit-center;">
          <img src="./assets/web.png" alt="">
        </div>
        <div class="content text-center text-base  mt-3">
          容器化與虛擬化技術-Docker
        </div>
        <div class="point text-center text-base  mt-3">
          >維護簡單
        </div>
      </div>
    </div>
    <div class='col-12 col-sm-2 col-md-2 item my-2 align-items-start '>
      <div class='font  '>
        <div class="title ">資料技術</div>
        <div class="level ">
          <i class="fa-solid fa-bug"></i>
          <i class="fa-solid fa-bug"></i>
          <i class="fa-solid fa-bug"></i>
          <i class="fa-solid fa-bug"></i>
          <i class="fa-solid fa-bug"></i>
        </div>
        <div class="skillpic w-full" style="text-align: -webkit-center;">
          <img src="./assets/database.png" alt="">
        </div>
        <div class="content text-center text-base  mt-3">
          容器化與虛擬化技術-Docker
        </div>
        <div class="point text-center text-base  mt-3">
          >維護簡單
        </div>
      </div>
      <div class='back '>
        <div class="title">資料庫技術</div>
        <div class="level ">
          <i class="fa-solid fa-bug"></i>
          <i class="fa-solid fa-bug"></i>
          <i class="fa-solid fa-bug"></i>
          <i class="fa-solid fa-bug"></i>
          <i class="fa-solid fa-bug"></i>
        </div>
        <div class="skillpic w-full" style="text-align: -webkit-center;">
          <img src="./assets/database.png" alt="">
        </div>
        <div class="content text-center text-base  mt-3">
          容器化與虛擬化技術-Docker
        </div>
        <div class="point text-center text-base  mt-3">
          >維護簡單
        </div>
      </div>
    </div>
  </div>


</div>