<div class="card-container">
  <div class="item">
    <div class="font">
      <h3 class="title">後端技術</h3>
      <div class="level"></div>
      <div class="skillpic">
        <img src="./assets/database.png" alt="Database Icon">
      </div>
      <p class="content">容器化與虛擬化技術-Docker</p>
      <p class="point">>維護簡單</p>
    </div>
    <div class="back">
      <h3 class="title">後端技術</h3>
      <div class="level"></div>
      <div class="skillpic">
        <img src="./assets/database.png" alt="Database Icon">
      </div>
      <p class="content">容器化與虛擬化技術-Docker</p>
      <p class="point">>維護簡單</p>
    </div>
  </div>
  <div class="item">
    <div class="font">
      <h3 class="title">前端技術</h3>
      <div class="level"></div>
      <div class="skillpic">
        <img src="./assets/database.png" alt="Frontend Icon">
      </div>
      <p class="content">響應式網頁設計</p>
      <p class="point">>用戶體驗優化</p>
    </div>
    <div class="back">
      <h3 class="title">前端技術</h3>
      <div class="level"></div>
      <div class="skillpic">
        <img src="./assets/database.png" alt="Frontend Icon">
      </div>
      <p class="content">響應式網頁設計</p>
      <p class="point">>用戶體驗優化</p>
    </div>
  </div>
  <div class="item">
    <div class="font">
      <h3 class="title">網頁技術</h3>
      <div class="level"></div>
      <div class="skillpic">
        <img src="./assets/database.png" alt="Web Tech Icon">
      </div>
      <p class="content">RESTful API 設計</p>
      <p class="point">>高效數據交換</p>
    </div>
    <div class="back">
      <h3 class="title">網頁技術</h3>
      <div class="level"></div>
      <div class="skillpic">
        <img src="./assets/database.png" alt="Web Tech Icon">
      </div>
      <p class="content">RESTful API 設計</p>
      <p class="point">>高效數據交換</p>
    </div>
  </div>
  <div class="item">
    <div class="font">
      <h3 class="title">資料技術</h3>
      <div class="level"></div>
      <div class="skillpic">
        <img src="./assets/database.png" alt="Data Tech Icon">
      </div>
      <p class="content">大數據分析</p>
      <p class="point">>洞察商業價值</p>
    </div>
    <div class="back">
      <h3 class="title">資料技術</h3>
      <div class="level"></div>
      <div class="skillpic">
        <img src="./assets/database.png" alt="Data Tech Icon">
      </div>
      <p class="content">大數據分析</p>
      <p class="point">>洞察商業價值</p>
    </div>
  </div>
</div>