<!-- <div class="container flex w-8/12 mx-auto justify-evenly flex-wrap  ">
  <div class="box w-1/3 rounded-lg h-svh mr-6 flex flex-col justify-around p-7 my-2">
    <div class="title text-center text-3xl font-bold">後端技術</div>
    <div class="level flex justify-center text-xl">
      <i class="fa-solid fa-bug"></i>
      <i class="fa-solid fa-bug"></i>
      <i class="fa-solid fa-bug"></i>
      <i class="fa-solid fa-bug"></i>
      <i class="fa-solid fa-bug"></i>
    </div>
    <div class="skillpic w-full" style="text-align: -webkit-center;">
      <img src="./assets/backend.png" alt="">
    </div>
    <div class="content text-center text-base">
      容器化與虛擬化技術-Docker
    </div>
    <div class="point text-center text-base">
      >維護簡單
    </div>
  </div>
  <div class="box w-1/3 rounded-lg h-svh mr-6 flex flex-col justify-around p-7 my-2">
    <div class="title text-center text-3xl font-bold">後端技術</div>
    <div class="level flex justify-center text-xl">
      <i class="fa-solid fa-bug"></i>
      <i class="fa-solid fa-bug"></i>
      <i class="fa-solid fa-bug"></i>
      <i class="fa-solid fa-bug"></i>
      <i class="fa-solid fa-bug"></i>
    </div>
    <div class="skillpic w-full" style="text-align: -webkit-center;">
      <img src="./assets/backend.png" alt="">
    </div>
    <div class="content text-center text-base">
      容器化與虛擬化技術-Docker
    </div>
    <div class="point text-center text-base">
      >維護簡單
    </div>
  </div>
  <div class="box w-1/3 rounded-lg h-svh mr-6 flex flex-col justify-around p-7 my-2">
    <div class="title text-center text-3xl font-bold">後端技術</div>
    <div class="level flex justify-center text-xl">
      <i class="fa-solid fa-bug"></i>
      <i class="fa-solid fa-bug"></i>
      <i class="fa-solid fa-bug"></i>
      <i class="fa-solid fa-bug"></i>
      <i class="fa-solid fa-bug"></i>
    </div>
    <div class="skillpic w-full" style="text-align: -webkit-center;">
      <img src="./assets/backend.png" alt="">
    </div>
    <div class="content text-center text-base">
      容器化與虛擬化技術-Docker
    </div>
    <div class="point text-center text-base">
      >維護簡單
    </div>
  </div>
  <div class="box w-1/3 rounded-lg h-svh mr-6 flex flex-col justify-around p-7 my-2">
    <div class="title text-center text-3xl font-bold">後端技術</div>
    <div class="level flex justify-center text-xl">
      <i class="fa-solid fa-bug"></i>
      <i class="fa-solid fa-bug"></i>
      <i class="fa-solid fa-bug"></i>
      <i class="fa-solid fa-bug"></i>
      <i class="fa-solid fa-bug"></i>
    </div>
    <div class="skillpic w-full" style="text-align: -webkit-center;">
      <img src="./assets/backend.png" alt="">
    </div>
    <div class="content text-center text-base">
      容器化與虛擬化技術-Docker
    </div>
    <div class="point text-center text-base">
      >維護簡單
    </div>
  </div>
  <div class="box w-1/3 rounded-lg h-svh mr-6 flex flex-col justify-around p-7 my-2">
    <div class="title text-center text-3xl font-bold">後端技術</div>
    <div class="level flex justify-center text-xl">
      <i class="fa-solid fa-bug"></i>
      <i class="fa-solid fa-bug"></i>
      <i class="fa-solid fa-bug"></i>
      <i class="fa-solid fa-bug"></i>
      <i class="fa-solid fa-bug"></i>
    </div>
    <div class="skillpic w-full" style="text-align: -webkit-center;">
      <img src="./assets/backend.png" alt="">
    </div>
    <div class="content text-center text-base">
      容器化與虛擬化技術-Docker
    </div>
    <div class="point text-center text-base">
      >維護簡單
    </div>
  </div>

  <div class="box w-1/3 rounded-lg h-svh mr-6 flex flex-col justify-around p-7 my-2">
    <div class="title text-center text-3xl font-bold">後端技術</div>
    <div class="level flex justify-center text-xl">
      <i class="fa-solid fa-bug"></i>
      <i class="fa-solid fa-bug"></i>
      <i class="fa-solid fa-bug"></i>
      <i class="fa-solid fa-bug"></i>
      <i class="fa-solid fa-bug"></i>
    </div>
    <div class="skillpic w-full" style="text-align: -webkit-center;">
      <img src="./assets/backend.png" alt="">
    </div>
    <div class="content text-center text-base">
      容器化與虛擬化技術-Docker
    </div>
    <div class="point text-center text-base">
      >維護簡單
    </div>
  </div>

  <div class="fakebox w-1/3 rounded-lg h-svh mr-6 flex flex-col justify-around p-7 my-2">
    back
  </div>





</div> -->

<div class="card-container flex w-8/12 mx-auto justify-evenly flex-wrap">
  <div class='card w-1/3 rounded-lg h-svh mr-6 flex flex-col justify-around items-center my-2 '>
    <div class='font  rounded-lg h-svh flex flex-col justify-around  '>
      <div class="title text-center text-3xl font-bold mt-3">後端技術</div>
      <div class="level flex justify-center text-xl  mt-3">
        <i class="fa-solid fa-bug"></i>
        <i class="fa-solid fa-bug"></i>
        <i class="fa-solid fa-bug"></i>
        <i class="fa-solid fa-bug"></i>
        <i class="fa-solid fa-bug"></i>
      </div>
      <div class="skillpic w-full" style="text-align: -webkit-center;">
        <img src="./assets/backend.png" alt="">
      </div>
      <div class="content text-center text-base  mt-3">
        容器化與虛擬化技術-Docker
      </div>
      <div class="point text-center text-base  mt-3">
        >維護簡單
      </div>
    </div>
    <div class='back w-1/3  rounded-lg h-svh  flex flex-col justify-around  my-2'>
      <div class="title text-center text-3xl font-bold  mt-3">後端技術</div>
      <div class="level flex justify-center text-xl">
        <i class="fa-solid fa-bug"></i>
        <i class="fa-solid fa-bug"></i>
        <i class="fa-solid fa-bug"></i>
        <i class="fa-solid fa-bug"></i>
        <i class="fa-solid fa-bug"></i>
      </div>
      <div class="skillpic w-full" style="text-align: -webkit-center;">
        <img src="./assets/backend.png" alt="">
      </div>
      <div class="content text-center text-base  mt-3">
        反面容器 容器化與虛擬化技術-Docker
      </div>
      <div class="point text-center text-base  mt-3">
        >維護簡單
      </div>
    </div>
  </div>

  <div class='card w-1/3 rounded-lg h-svh mr-6 flex flex-col justify-around items-center my-2'>
    <div class='font  rounded-lg h-svh mr-6 flex flex-col justify-around p-7 my-2'>
      <div class="title text-center text-3xl font-bold mt-3">前端技術</div>
      <div class="level flex justify-center text-xl  mt-3">
        <i class="fa-solid fa-bug"></i>
        <i class="fa-solid fa-bug"></i>
        <i class="fa-solid fa-bug"></i>
        <i class="fa-solid fa-bug"></i>
        <i class="fa-solid fa-bug"></i>
      </div>
      <div class="skillpic w-full" style="text-align: -webkit-center;">
        <img src="./assets/ux.png" alt="">
      </div>
      <div class="content text-center text-base  mt-3">
        容器化與虛擬化技術-Docker
      </div>
      <div class="point text-center text-base  mt-3">
        >維護簡單
      </div>
    </div>
    <div class='back  rounded-lg h-svh mr-6 flex flex-col justify-around p-7 my-2'>
      <div class="title text-center text-3xl font-bold  mt-3">前端技術</div>
      <div class="level flex justify-center text-xl">
        <i class="fa-solid fa-bug"></i>
        <i class="fa-solid fa-bug"></i>
        <i class="fa-solid fa-bug"></i>
        <i class="fa-solid fa-bug"></i>
        <i class="fa-solid fa-bug"></i>
      </div>
      <div class="skillpic w-full" style="text-align: -webkit-center;">
        <img src="./assets/ux.png" alt="">
      </div>
      <div class="content text-center text-base  mt-3">
        反面容器 容器化與虛擬化技術-Docker
      </div>
      <div class="point text-center text-base  mt-3">
        >維護簡單
      </div>
    </div>
  </div>
  <div class='card w-1/3 rounded-lg h-svh mr-6 flex flex-col justify-around items-center my-2 '>
    <div class='font  rounded-lg h-svh flex flex-col justify-around  '>
      <div class="title text-center text-3xl font-bold mt-3">網頁技術</div>
      <div class="level flex justify-center text-xl  mt-3">
        <i class="fa-solid fa-bug"></i>
        <i class="fa-solid fa-bug"></i>
        <i class="fa-solid fa-bug"></i>
        <i class="fa-solid fa-bug"></i>
        <i class="fa-solid fa-bug"></i>
      </div>
      <div class="skillpic w-full" style="text-align: -webkit-center;">
        <img src="./assets/web.png" alt="">
      </div>
      <div class="content text-center text-base  mt-3">
        容器化與虛擬化技術-Docker
      </div>
      <div class="point text-center text-base  mt-3">
        >維護簡單
      </div>
    </div>
    <div class='back w-1/3  rounded-lg h-svh  flex flex-col justify-around  my-2'>
      <div class="title text-center text-3xl font-bold  mt-3">網頁技術</div>
      <div class="level flex justify-center text-xl">
        <i class="fa-solid fa-bug"></i>
        <i class="fa-solid fa-bug"></i>
        <i class="fa-solid fa-bug"></i>
        <i class="fa-solid fa-bug"></i>
        <i class="fa-solid fa-bug"></i>
      </div>
      <div class="skillpic w-full" style="text-align: -webkit-center;">
        <img src="./assets/web.png" alt="">
      </div>
      <div class="content text-center text-base  mt-3">
        反面容器 容器化與虛擬化技術-Docker
      </div>
      <div class="point text-center text-base  mt-3">
        >維護簡單
      </div>
    </div>
  </div>


  <div class='card w-1/3 rounded-lg h-svh mr-6 flex flex-col justify-around items-center my-2'>
    <div class='font  rounded-lg h-svh mr-6 flex flex-col justify-around p-7 my-2'>
      <div class="title text-center text-3xl font-bold mt-3">資料庫技術</div>
      <div class="level flex justify-center text-xl  mt-3">
        <i class="fa-solid fa-bug"></i>
        <i class="fa-solid fa-bug"></i>
        <i class="fa-solid fa-bug"></i>
        <i class="fa-solid fa-bug"></i>
        <i class="fa-solid fa-bug"></i>
      </div>
      <div class="skillpic w-full" style="text-align: -webkit-center;">
        <img src="./assets/database.png" alt="">
      </div>
      <div class="content text-center text-base  mt-3">
        容器化與虛擬化技術-Docker
      </div>
      <div class="point text-center text-base  mt-3">
        >維護簡單
      </div>
    </div>
    <div class='back  rounded-lg h-svh mr-6 flex flex-col justify-around p-7 my-2'>
      <div class="title text-center text-3xl font-bold  mt-3">資料庫技術</div>
      <div class="level flex justify-center text-xl">
        <i class="fa-solid fa-bug"></i>
        <i class="fa-solid fa-bug"></i>
        <i class="fa-solid fa-bug"></i>
        <i class="fa-solid fa-bug"></i>
        <i class="fa-solid fa-bug"></i>
      </div>
      <div class="skillpic w-full" style="text-align: -webkit-center;">
        <img src="./assets/database.png" alt="">
      </div>
      <div class="content text-center text-base  mt-3">
        反面容器 容器化與虛擬化技術-Docker
      </div>
      <div class="point text-center text-base  mt-3">
        >維護簡單
      </div>
    </div>
  </div>

</div>